<div class="container">
    <div class="row">
        <h3>Adding a New Employee</h3>
    </div>
    <div class="row">
        <ul class="nav nav-tabs" routerLinkActive="active">
            <li class="nav-item">
              <a class="nav-link" routerLink="add-employee/personal"  >Employee Personal Details</a>
            </li>
            <li class="nav-item" >
              <a class="nav-link" routerLink="add-employee/employement" >Employee Employement Details</a>
            </li>
          </ul>
    </div>
    <router-outlet></router-outlet>
    
  
</div>